body {
    /* background-image: url('https://images6.alphacoders.com/376/376931.jpg');*/
     background:  rgb(100, 64, 250);;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     padding-top: 80px; /* Adjust as needed based on your header height */
     font-family: Arial, sans-serif;
     color: #333;
     backdrop-filter: blur(10px);
      background-filter:blur(6px);
 }

 .container {
     max-width: 800px;
     margin: 0 auto;
     padding: 20px;
     background-color: rgba(255, 255, 255, 0.8); /* Adjust the opacity as needed */
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      
 }

 h2 {
     text-align: center;
 }

 form {
     margin-top: 20px;
 }

 .form-label {
     font-weight: bold;
 }

 .form-control {
     width: 100%;
     padding: 8px;
     margin-bottom: 10px;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
 }

 .btn-primary {
     display: block;
     width: 100%;
     padding: 10px;
     margin-top: 20px;
     background-color: #007bff;
     color: #fff;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }

 .btn-primary:hover {
     background-color: #0056b3;
 }
